.container{
  align-items: center;
  border: 1px dotted red;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  margin:auto;
  max-width: 756px;
  font-size: 1.6em;
}

.btn-wrapper{
  display: flex;
  width: auto;

  @media (min-width: 768px) {
    justify-content: center;
    align-self: flex-end;
    margin-right: 3rem;
  }
  
}