.container{
  align-items: center;
  border: 1px dotted red;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  margin:auto;
  max-width: 756px;
  font-size: 1.6em;
}